Most of this activity is taken from:
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
gc = data['native-country'] == 'Germany'
gp = (gc.sum() / data.shape[0]) * 100
print(gp)

0.42074874850281013

4-5. __What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?__

In [6]:
# mean and standard deviation of age for those who earn more than 50K per year (salary feature)
mean = data[data["salary"] == ">50K"]["age"].mean()
std = data[data["salary"] == ">50K"]["age"].std()
print("mean= ",mean)
print("std= ",std)

mean=  44.24984058155847
std=  10.51902771985177

In [7]:
# mean and standard deviation of age for those who earn less than 50k per year (salary feature)
mean2 = data[data["salary"] == "<=50K"]["age"].mean()
std2 = data[data["salary"] == "<=50K"]["age"].std()
print("mean= ",mean2)
print("std= ",std2)

mean=  36.78373786407767
std=  14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [8]:
education = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
heducation = data[data["salary"] == ">50K"]["education"].isin(education).all()
print(heducation)

False

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [12]:
race_sex = data.groupby(["race", "sex"])["age"].describe()
print(race_sex)

amereskimo = data[(data["race"] == "Amer-Indian-Eskimo") & (data["sex"] == "Male")]["age"].max()
print("Max age of men of Amer-Indian-Eskimo race: " , amereskimo)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
Max age of men of Amer-Indian-Eskimo race:  82

**8. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [14]:
maxh = data["hours-per-week"].max()
print("Max hours per week: ", maxh)

num_maxh = data[data["hours-per-week"] == maxh].shape[0]
print("Number of people working max hours: ", num_maxh)

perc_max_hours = (data[(data["hours-per-week"] == maxh) & (data["salary"] == ">50K")].shape[0] / num_maxh) * 100
print("Percentage of those who earn a lot (>50K) among them: ", perc_max_hours)

Max hours per week:  99
Number of people working max hours:  85
Percentage of those who earn a lot (>50K) among them:  29.411764705882355

**9. Find the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [15]:
from datetime import time
time_country = data.groupby(["native-country", "salary"])["hours-per-week"].mean()
print(time_country)

time_japan = data[data["native-country"] == "Japan"].groupby(["salary"])["hours-per-week"].mean()
print(time_japan)

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64
salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64

__10. Create 2 visualizations (what to plot is up to you) and write the conclusions generated with those plots from the dataset__

In [18]:
# Men and women that are over the age of 30 that are "Not-in-family" relationship status and work more or equal than 40 hours per week
data[(data["age"] > 30) & (data["relationship"] == "Not-in-family") & (data["hours-per-week"] >= 40)]["sex"].value_counts()

sex
Male      2343
Female    1755
Name: count, dtype: int64

In [19]:
# Men and women that are over the age of 30 that have "Husband" or "Wife" relationship status and work more or equal than 40 hours per week
data[(data["age"] > 30) & (data["relationship"].isin(["Husband", "Wife"])) & (data["hours-per-week"] >= 40)]["sex"].value_counts()

sex
Male      10126
Female      742
Name: count, dtype: int64

In [20]:
conclusion = """On the first visualization the conclusion was that a total of 2343 men that are over the age of
30 that are not in a family work more or equal than 40 hours, however, a total of 10126 men that are also over
the age of 30 that are married also work more or equal to 40 hours per week. On the other hand, a total of
1755 women over the age of 30 that are not in a family work more or equal to 40 hours per week, however, married
women over the age of 30 who work more than 40 hours per week lowers to only 742."""
print(conclusion)

On the first visualization the conclusion was that a total of 2343 men that are over the age of
30 that are not in a family work more or equal than 40 hours, however, a total of 10126 men that are also over
the age of 30 that are married also work more or equal to 40 hours per week. On the other hand, a total of
1755 women over the age of 30 that are not in a family work more or equal to 40 hours per week, however, married
women over the age of 30 who work more than 40 hours per week lowers to only 742.